*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black; color: white
}
.logo{
    text-wrap: nowrap;
    padding-right: 10px;
}


nav>div>h2{
    font-size: 20px;
}
.space{
    height: 60px;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 2vw;
    background-color: black;
    height: 60px;
    position: sticky;
    top: 0;
    width:auto;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
}
.nav-links>li{
    padding: 0px 30px 0 0;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:white;
}
.nav-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
.nav-social-container{
    margin-right: 70px;
}
.social-links{
    height: 45px;
    padding: 8px;
}
.first{
    background-image: url(https://s3-alpha-sig.figma.com/img/791f/9ca1/801cf713555ea70ba295e8de05e15650?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Pix86pvgBvlS6LfKOC9tyPO9Z15-cMqObPaLbz6w~w09Ls-HWb1oM3sWVArYIOW9syPQU4m5D36tvrY83DUkpGhCtdIEAbaQT4NCXKUfVJEILXKwaZS6ax128b8C3ZeHg39qOILGZ6wY8JJC0itFDSKZ5V1moVxLKdC765as94vcfZ7drQ~V1H3IQ1oM6akEpsEhm4Ck2VbDV1WCkIclsVos-clRIhEG17Bx9IMs6i4msG5peNom6d7F~~o~UtdX6uNVVDcTveEUvFQwyAZR48S-89aWubDa9HCf6SfTSea~Lqh2Mr~9A056PfmhCIEpEOE22YJw9UX-AucB9ILuFw__);
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column ;
}

.bar{
    background-color: rgb(249, 75, 75);
    height: 5px;
    width: 100%;
    border-radius:2px ;
}
.content-main{
display: flex;
flex-direction: column;
width: 30%;
margin-left: 10%;
padding-top:10% ;
}
.content-main>div>h1{
    font-size: 5vw;
}
.content-text{
    text-align: justify;
}
.burger{
    color: none;
    display: none;
}
.first-heading{
    width: 100%;
}
h2{
    font-size: 50px;
}
/* about us */
.about-us{
    min-height: fit-content;
}
.a-h3{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
}
.a-h-bar{
    background-color: red;
    height: 3px;
    width: 30%;
    margin: auto;
    margin-top: 10px;
}
.a-content{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 10%;
    justify-content:space-around;

}
/* about us left */
.a-left{
    flex-grow: 1;
    padding-top: 30px;
    margin-left: 5%;
    width: 100%;
    justify-content: center;
}
.a-left-bar{
    height: 3px;
    background-color: red;
    width: 80%;
    margin-bottom:20px ;
}
.a-left-para{
    font-size: 15px;
    line-height: 15px;
    text-wrap: wrap;
    width: 100%;
}
/* about us right */
.a-right{
    display: flex;
    justify-content: space-around;
}
#a-right-image{
    width: 70%;
    height:max-content;
    border-radius: 20px;
}

/* Menu */
.m-head{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
}
.m-h-bar{
    background-color: red;
    height: 3px;
    width: 30%;
    margin: auto;
    margin-top: 10px;
}
.m-des-p{
    margin-left:14%;
    margin-right: 14%;
    margin-top: 50px;
}
.m-container{
    margin: 100px;
    min-height:fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.m-item{
    width: 45%;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    flex-grow: 1;
    margin-bottom: 20px;
}
.m-image{
    width: 274px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.m-item-content{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 20px;
    width: 42%;
}
.m-item-h{
    color: yellow;
    padding-bottom: 15px;
}
.m-item-p{
    line-height: 25px;
}

/* Gallery */
.gallery{
    width: 100%;
    height: fit-content;
}
.g-heading{
    margin-bottom: 70px;
}
.g-container{
    height: 400px;
    min-height: fit-content;
    display: grid;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    gap: 5px;
    grid-template-columns: repeat(5,1fr) ;
    grid-template-rows: repeat(6,1fr);
}
.g-image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.g-item1{
    grid-column: 1/4;
    grid-row: 1/7;
}
.g-item2{
    grid-column: 4/5;
    grid-row: 1/4;
}
.g-item3{
    grid-column: 4/5;
    grid-row: 4/7;
}

.g-item4{
    grid-column: 5/6;
    grid-row: 1/3;
}
.g-item5{
    grid-column: 5/6;
    grid-row: 3/5;
}
.g-item6{
    grid-column: 5/6;
    grid-row: 5/7;
}
/* find us */
.find-us{
    width: 100%;
    height: 675px;
    min-height:fit-content;
}
.find-us-content{
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    margin: auto;
}
iframe{
    border-radius: 5px;
}
.fu-right{
    width: 50%;
}
.fu-left{
    display: flex;
    width: 50%;
    flex-direction:column;
    padding-left: 50px;
    padding-right: 50px;
}
.fu-left-p{
    margin-bottom: 40px;
}
.fu-left-bottom{
    flex-grow: 1;
    padding-left: 30px;
}
.fu-left-image{
    width: 60px;
}
.fu-left-item1{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
.fu-left-item2{
    display: flex;
    align-items: center;
}
/* footer */
footer{
    display: flex;
    height: 100px;
    background-color: black;
    width: 100%;
    align-items: center;
}
.foot-image{
    margin-left: 10px;
    width: 30%;
    max-width: 200px;
    object-fit: contain;
}
.foot-right-image{
    width: 40px;

}
.foot-right{
    flex-grow: 1;
}
.foot-item{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.stick{
    position: fixed;
    bottom:10px;
    right: 10px;
    background-color: antiquewhite;
    color:black;
    padding: 10px;
    border-radius: 20px;
    height: 30%;
    width: 50%;
    border: 3px solid lightpink;
}
.stick-span{
    display: block;
}
/* media */
@media screen and (max-width:400px){
    .g-container{
        height: 400px;
        min-height: fit-content;
        display: grid;
        width: 80%;
        margin: auto;
        margin-bottom: 50px;
        gap: 5px;
        grid-template-columns: repeat(6,1fr) ;
        grid-template-rows: repeat(5,1fr);
    }
    .g-image{
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit:cover;
    }
    .g-item1{
        grid-row: 1/4;
        grid-column: 1/7;
    }
    .g-item2{
        grid-row: 4/5;
        grid-column: 1/4;
    }
    .g-item3{
        grid-row: 4/5;
        grid-column: 4/7;
    }
    
    .g-item4{
        grid-row: 5/6;
        grid-column: 1/3;
    }
    .g-item5{
        grid-row: 5/6;
        grid-column: 3/5;
    }
    .g-item6{
        grid-row: 5/6;
        grid-column: 5/7;
    }
}
@media screen and (max-width:625px){
    .m-container{
        margin:0;
        margin-top:20px;
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .m-item{
        display: flex;
        flex-direction: column;

    }
    .m-image{
        width: 100%;
    }
    .m-item-content{
        width: 90%;
    }
}
@media screen and (max-width:1100px){
    .m-container{
        flex-direction: column;
        align-items: center;
    }
    .m-item{
        width: 100%;
        flex-grow: 1;
    }
    .m-item-content{
        flex-grow: 1;
    }
    .m-item-p{
        flex-grow: 1;
    }
}
@media screen and (max-width:1000px){
    #a-right-image{
        max-height: 250px;
    }
    .a-content{
        flex-direction:column-reverse ;
    }
    .a-left-bar{
        width: 100%;
    }
    .a-left{
        margin-left: 0;
    }
    .a-right{
        height: min-content;
    }
    .find-us-content{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .fu-left-bottom{
        padding-left: 0px;
        padding: 5px;
    }
    .fu-left{
        margin-top: 20px;
        width: 80%;
    }
    .fu-right{
        width: 80%;
    }
    .g-heading{
        margin-bottom: 40px;
    }
    .fu-left-item1{
        margin-bottom: 10px;
    }
    .fu-left-p{
        margin-bottom: 10px;
    }
}
 @media screen and (max-width:620px){
    footer{
        margin-top: 30px;
    }
    .nav-social-container{
        display: none;
    }
    .content-text{
        padding: auto;
        padding-top: 10px;
        font-size: 15px;
        line-height: 15px;
    }
    h2{
        padding-bottom: 10px;
        font-size: 30px;
    }
}
@media screen and (max-width:1200px) {
    .first{
        flex-grow: 1;
    }
    .content-main{
        width: 80%;
        margin-top: 100px;
    }
    .nav-links>li{
        display:none;
    }
    .burger{
        display:block;
        padding-right: 30px;
    }
    .content{
        margin: auto;
        padding-top: 0;
        width: 70%;
        padding: 10%;
    }
}
